In [89]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tkinter as tk

In [90]:
pd.set_option('display.max_rows', 20) # muda o standard direto do meu pandas

In [91]:
# von Khaled

#   Bundesland=pd.read_excel("Aufgabe 2 - Preisinformation.xlsx",sheet_name="Tabelle1", usecols=("B:C"), skiprows=2)

In [92]:
preisetabelle_original = pd.read_excel(r"C:\Users\hhhme\Documents\GitHub\my-projects\first_projects_onDatacraft\Project_withInterfaceTkinter\Aufgabe 2 - Preisinformation.xlsx")
preisetabelle_original

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Bundesland,Kostenfaktor,NaN,Stadt vs Land,Kostenfaktor,NaN,Weitere Kostenfaktoren,Preis,Einheit
2,NaN,Baden-Württemberg,1.5,NaN,Land,1,NaN,QM-Grundstück,160,pro m²
3,NaN,Bayern,1.7,NaN,Stadt,2,NaN,QM-Wohnfläche,2500,pro m²
4,NaN,Berlin,2.1,NaN,NaN,NaN,NaN,Geplant von Architekt,20,Aufschlag in %
5,NaN,Brandenburg,1.1,NaN,Ausstattung,Kostenfaktor,NaN,Makler,20,Aufschlag in %
6,NaN,Bremen,1.2,NaN,Rohbau,0.5,NaN,Denkmalschutz,25,Reduzierung in %
7,NaN,Hamburg,2.5,NaN,Sanierungsbedarf,0.8,NaN,Baujahr,0.1,Reduzierung in % pro Jahr
8,NaN,Hessen,1.3,NaN,Renovierungsbedarf,0.9,NaN,NaN,NaN,NaN
9,NaN,Mecklenburg-Vorpommern,0.9,NaN,Einfach,1,NaN,NaN,NaN,NaN
10,NaN,Niedersachsen,1,NaN,Gehoben,2,NaN,NaN,NaN,NaN
11,NaN,Nordrhein-Westfalen,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,Rheinland-Pfalz,1,NaN,Hausart,Kostenfaktor,NaN,NaN,NaN,NaN
13,NaN,Saarland,0.7,NaN,Einfamilienhaus,1,NaN,NaN,NaN,NaN
14,NaN,Sachsen,0.7,NaN,Doppelhaushälfte,0.8,NaN,NaN,NaN,NaN
15,NaN,Sachsen-Anhalt,0.6,NaN,Mehrfamilienhaus,0.7,NaN,NaN,NaN,NaN
16,NaN,Schleswig-Holstein,1.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Thüringen,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN

'\npreisetabelle_renamed = preisetabelle_original.rename(columns=preisetabelle_original.iloc[1])\npt = preisetabelle_renamed.drop(preisetabelle_renamed.index[1])\nptt = pt.drop(pt.index[0]).reset_index()\npreisetabelle = ptt.drop(list(ptt)[0:2], axis=1)\npreisetabelle\n'

In [107]:
BundK0 = pd.read_excel("Aufgabe 2 - Preisinformation.xlsx",sheet_name="Tabelle1", usecols=("B:C"), skiprows=2)
BundK0

                        Kostenfaktor
Bundesland
Baden-Württemberg                1.5
Bayern                           1.7
Berlin                           2.1
Brandenburg                      1.1
Bremen                           1.2
Hamburg                          2.5
Hessen                           1.3
Mecklenburg-Vorpommern           0.9
Niedersachsen                    1.0
Nordrhein-Westfalen              1.1
Rheinland-Pfalz                  1.0
Saarland                         0.7
Sachsen                          0.7
Sachsen-Anhalt                   0.6
Schleswig-Holstein               1.4
Thüringen                        0.6

In [94]:
SLundK0 = pd.read_excel("Aufgabe 2 - Preisinformation.xlsx",sheet_name="Tabelle1", usecols=("E:F"), skiprows=2, nrows = 2)
SLundK0

  Stadt vs Land  Kostenfaktor.1
0          Land               1
1         Stadt               2

In [95]:
AundK0 = pd.read_excel("Aufgabe 2 - Preisinformation.xlsx",sheet_name="Tabelle1", usecols=("E:F"), skiprows=6, nrows = 5)
AundK0

          Ausstattung  Kostenfaktor
0              Rohbau           0.5
1    Sanierungsbedarf           0.8
2  Renovierungsbedarf           0.9
3             Einfach           1.0
4             Gehoben           2.0

In [96]:
HundK0 = pd.read_excel("Aufgabe 2 - Preisinformation.xlsx",sheet_name="Tabelle1", usecols=("E:F"), skiprows=13, nrows = 3)
HundK0

            Hausart  Kostenfaktor
0   Einfamilienhaus           1.0
1  Doppelhaushälfte           0.8
2  Mehrfamilienhaus           0.7

In [106]:
WKproPE0 = pd.read_excel("Aufgabe 2 - Preisinformation.xlsx",sheet_name="Tabelle1", usecols=("H:I"), skiprows=2, nrows = 6)
WKproPE0

  Weitere Kostenfaktoren   Preis
0          QM-Grundstück   160.0
1          QM-Wohnfläche  2500.0
2  Geplant von Architekt    20.0
3                 Makler    20.0
4          Denkmalschutz    25.0
5                Baujahr     0.1

#### ab hier sind die Tabelle fertig verarbeitet und getrennt von einander

In [98]:
BundK = BundK0.set_index(["Bundesland"]) # Bundesland und Kostenfaktor
BundK

                        Kostenfaktor
Bundesland
Baden-Württemberg                1.5
Bayern                           1.7
Berlin                           2.1
Brandenburg                      1.1
Bremen                           1.2
Hamburg                          2.5
Hessen                           1.3
Mecklenburg-Vorpommern           0.9
Niedersachsen                    1.0
Nordrhein-Westfalen              1.1
Rheinland-Pfalz                  1.0
Saarland                         0.7
Sachsen                          0.7
Sachsen-Anhalt                   0.6
Schleswig-Holstein               1.4
Thüringen                        0.6

In [99]:
SLundK = SLundK0.set_index(["Stadt vs Land"]) # StadtvsLand und Kostenfaktor
SLundK

               Kostenfaktor.1
Stadt vs Land
Land                        1
Stadt                       2

In [100]:
AundK = AundK0.set_index(["Ausstattung"]) # Ausstattung und Kostenfaktor
AundK

                    Kostenfaktor
Ausstattung
Rohbau                       0.5
Sanierungsbedarf             0.8
Renovierungsbedarf           0.9
Einfach                      1.0
Gehoben                      2.0

In [101]:
HundK = HundK0.set_index(["Hausart"])# Hausart und Kostenfaktor
HundK

                  Kostenfaktor
Hausart
Einfamilienhaus            1.0
Doppelhaushälfte           0.8
Mehrfamilienhaus           0.7

In [102]:
WKproPE = WKproPE0.set_index(["Weitere Kostenfaktoren"]) # Weitere Kostenfaktoren pro Preis und Einheit
WKproPE

                         Preis
Weitere Kostenfaktoren
QM-Grundstück            160.0
QM-Wohnfläche           2500.0
Geplant von Architekt     20.0
Makler                    20.0
Denkmalschutz             25.0
Baujahr                    0.1

In [104]:
preis_QM_Wohnfläche_nachTabelle = float(WKproPE.loc["QM-Wohnfläche"])    
preis_QM_Wohnfläche_nachTabelle

2500.0

### Die Benutzoberfläche an sich

In [ ]:
import tkinter as tk
import tkinter.messagebox


window = tk.Tk()
window.geometry("500x200")
window.title("Hauspreisrechner")

#Erstellung meiner Arbeitswindow:
labelListboxGrundstück = tk.Label(window, text="Grundstück in m2")
Grundstück_m2 = tk.Entry(window)
labelListboxWohnfläche = tk.Label(window, text="Wohnfläche in m2")
Wohnfläche_m2 = tk.Entry(window)
labelListboxBaujahr = tk.Label(window, text="Baujahr")
Baujahr = tk.Entry(window)
ausgabe = tk.Label(window)


#Tabellen: 
BundK # Bundesland und Kostenfaktor
SLundK # StadtvsLand und Kostenfaktor
AundK # Ausstattung und Kostenfaktor
HundK # Hausart und Kostenfaktor
WKproPE # Weitere Kostenfaktoren pro Preis und Einheit


# meine Berechnungen:

preis_fallsMakler = float(WKproPE.loc["Makler"])*0.01 # → mal 0.01 um es in % zu konvertieren
preis_fallsDenkmalschutz = float(WKproPE.loc["Denkmalschutz"])*0.01
preis_QM_Grunstück_nachTabelle = float(WKproPE.loc["QM-Grundstück"])   
preis_QM_Wohnfläche_nachTabelle = float(WKproPE.loc["QM-Wohnfläche"])   
    
#-----------------------------------------------------------------------------------------------------------------------------------------------
def berechnen():
    bdl = listbox_Bundesland.get(listbox_Bundesland.curselection()) # → .get() gibt immer ein String zurück
    slk = listbox_StadtvsLand.get(listbox_StadtvsLand.curselection())# mylistbox.curselection private function von get bei Listbox
    ak = listbox_Ausstattung.get(listbox_Ausstattung.curselection())
    ha = listbox_Hausart.get(listbox_Hausart.curselection())
    Gm2 = float(Grundstück_m2.get())
    berechnung_Grundstück = Gm2 * preis_QM_Grunstück_nachTabelle
    WohnFm2 = float(Wohnfläche_m2.get()) 
    berechnung_Wohnfläche = WohnFm2 * preis_QM_Wohnfläche_nachTabelle
    Baujahrkosten = (float(Baujahr.get()) - 2022) * (float(WKproPE.loc["Baujahr"])/100)    
    flächegesamt = berechnung_Grundstück + berechnung_Wohnfläche - Baujahrkosten 
    ergebnis = round(flächegesamt * float(BundK.loc[bdl]) * float(SLundK.loc[slk]) * float(AundK.loc[ak]) * float(HundK.loc[ha]))
    
    def mitMakler_oderOhne(x):
        if var_Makler.get() == 1:
            mitMakler = x*preis_fallsMakler
            return mitMakler
        else:
            mitMakler = 0
            return mitMakler
    def mitDSchutz_oderOhne(y):
        if var_Makler.get() == 1:
            mitDenkmalschutz = y*preis_fallsDenkmalschutz
            return mitDenkmalschutz
        else:
            mitDenkmalschutz = 0
            return mitDenkmalschutz
        
    ende_ergebnis = ergebnis + mitMakler_oderOhne(ergebnis) + mitDSchutz_oderOhne(ergebnis)
    ausgabe.configure(text=f"ihr zukunftiges Haus wird {ende_ergebnis}€ kosten")
#------------------------------------------------------------------------------------------------------------------------------------------------

#meine Variabeln für meine Buttons:
var_Makler = tk.IntVar()
var_Denkmalschutz = tk.IntVar()
var_Bundesland = tk.Variable(value = list(BundK.index))
var_StadtvsLand = tk.Variable(value = list(SLundK.index))
var_Ausstattung = tk.Variable(value = list(AundK.index))
var_Hausart = tk.Variable(value = list(HundK.index))
var_weitereKosten = tk.Variable(value = list(WKproPE.index))


# o que eu escolho passa entao para a variavel listbox_Bundesland zB, valor esse determinado pelos itens 
#q eu add à Listbox através do meu listvariable, que estao em var_Bundesland

def resetFunktion():
    var_Makler.set(0)
    var_Denkmalschutz.set(0)




#Erstellung meiner Buttons:
labelListboxBundesland =tk.Label(window, text="Wählen Sie bitte ein Bundesland aus")
listbox_Bundesland = tk.Listbox(window, listvariable = var_Bundesland, height=2, selectmode=tk.EXTENDED, exportselection = 0)

labelListboxStadtvsLand =tk.Label(window, text="Wählen Sie die Wohnortart")
listbox_StadtvsLand = tk.Listbox(window, listvariable = var_StadtvsLand, height=1, selectmode=tk.EXTENDED, exportselection = 0)

labelListboxAusstattung =tk.Label(window, text="Wählen Sie bitte die Ausstattungsform aus")
listbox_Ausstattung = tk.Listbox(window, listvariable = var_Ausstattung, height=2, selectmode=tk.EXTENDED, exportselection = 0)

labelListboxHausart =tk.Label(window, text="Wählen Sie bitte die Hausart aus")
listbox_Hausart = tk.Listbox(window, listvariable = var_Hausart, height=2, selectmode=tk.EXTENDED, exportselection = 0)

Radiobutton_Makler = tk.Radiobutton(window, text="Makler", variable = var_Makler, value = 1)                            
Radiobutton_Denkmalschutz = tk.Radiobutton(window, text="Denkmalschutz", variable = var_Denkmalschutz, value = 1)

ErgebnisButton = tk.Button(window, text="Hauspreis", command = berechnen)
ResetButton = tk.Button(window, text="Reset Makler und Denkmalschutz", command=resetFunktion)

# alles ins Window
labelListboxGrundstück.pack()
Grundstück_m2.pack()
labelListboxWohnfläche.pack()
Wohnfläche_m2.pack()
labelListboxBaujahr.pack()
Baujahr.pack()
ausgabe.pack()

labelListboxBundesland.pack()
listbox_Bundesland.pack(expand=True, fill=tk.BOTH)

labelListboxStadtvsLand.pack()
listbox_StadtvsLand.pack(expand=True, fill=tk.BOTH)

labelListboxAusstattung.pack()
listbox_Ausstattung.pack(expand=True, fill=tk.BOTH)

labelListboxHausart.pack()
listbox_Hausart.pack(expand=True, fill=tk.BOTH)

Radiobutton_Makler.pack()
Radiobutton_Denkmalschutz.pack()

ErgebnisButton.pack()
ResetButton.pack()

#Los!
tk.mainloop()